@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron " style="background-color:darkslateblue">
    <h1 style="color:aqua">My Money Manager</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to My Money Manager</h2>
        <p>
            My Money Manager is an application that
            helps you  keep track of your money while you go on with your everyday life.
        </p>
    </div>
    <div class="col-md-6" style="margin-left:14%;">
        <h2>Add debt</h2>
        <p>
            Helps you in adding new debts 
        </p>
        <p><a class="btn btn-default" href="@Url.Content("~/Home/Tutorial")">See the tutorial &raquo;</a></p>
    </div>
    
</div>