@{
    ViewData["Title"] = "Tutorial";
}
<div class ="table-bordered modal-backdrop" style="padding-top:10%; display:flex; flex-wrap:wrap">
   <h4 class="mark" style="justify-content:center;" >How to get started</h4>
   
    
</div>